@page "/about"

<PageTitle>О нас - Мир Путешествий</PageTitle>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">О нашей компании</h1>
            <p class="lead">Мы - команда профессионалов, влюбленных в путешествия и открытия новых мест.</p>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-6">
            <img src="/images/about-us.jpg" alt="Наша команда" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-6">
            <h2>Наша история</h2>
            <p>Компания "Мир Путешествий" была основана в 2010 году группой энтузиастов, объединенных общей страстью к путешествиям. За более чем 10 лет работы мы помогли тысячам клиентов открыть для себя новые страны и культуры, организовав незабываемые поездки по всему миру.</p>
            <p>Начав с небольшого офиса и нескольких направлений, сегодня мы предлагаем туры в более чем 50 стран мира и имеем представительства в крупнейших городах России.</p>
            <p>Наша миссия - делать путешествия доступными, комфортными и незабываемыми для каждого клиента.</p>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Почему выбирают нас</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body text-center">
                            <i class="bi bi-award text-primary" style="font-size: 3rem;"></i>
                            <h5 class="card-title mt-3">Опыт и профессионализм</h5>
                            <p class="card-text">Более 10 лет на рынке туристических услуг. Наши специалисты регулярно проходят обучение и посещают страны, в которые организуют туры.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body text-center">
                            <i class="bi bi-hand-thumbs-up text-primary" style="font-size: 3rem;"></i>
                            <h5 class="card-title mt-3">Индивидуальный подход</h5>
                            <p class="card-text">Мы учитываем все пожелания клиентов и подбираем оптимальные варианты отдыха, соответствующие вашим ожиданиям и бюджету.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body text-center">
                            <i class="bi bi-shield-check text-primary" style="font-size: 3rem;"></i>
                            <h5 class="card-title mt-3">Надежность и безопасность</h5>
                            <p class="card-text">Мы сотрудничаем только с проверенными партнерами и гарантируем безопасность и качество предоставляемых услуг.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Наша команда</h2>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="/images/team1.jpg" class="card-img-top" alt="Член команды">
                        <div class="card-body text-center">
                            <h5 class="card-title">Анна Петрова</h5>
                            <p class="card-text text-muted">Генеральный директор</p>
                            <p class="card-text">Более 15 лет опыта в туристической индустрии. Посетила более 40 стран.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="/images/team2.jpg" class="card-img-top" alt="Член команды">
                        <div class="card-body text-center">
                            <h5 class="card-title">Иван Сидоров</h5>
                            <p class="card-text text-muted">Руководитель отдела продаж</p>
                            <p class="card-text">Эксперт по европейским направлениям. Знает все о лучших курортах Европы.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="/images/team3.jpg" class="card-img-top" alt="Член команды">
                        <div class="card-body text-center">
                            <h5 class="card-title">Мария Иванова</h5>
                            <p class="card-text text-muted">Специалист по экзотическим направлениям</p>
                            <p class="card-text">Знаток Азии и Океании. Поможет организовать незабываемое путешествие.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="/images/team4.jpg" class="card-img-top" alt="Член команды">
                        <div class="card-body text-center">
                            <h5 class="card-title">Алексей Смирнов</h5>
                            <p class="card-text text-muted">Руководитель службы поддержки</p>
                            <p class="card-text">Всегда на связи с клиентами. Решит любую проблему во время путешествия.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Наши партнеры</h2>
            <div class="row align-items-center">
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner1.png" alt="Партнер 1" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner2.png" alt="Партнер 2" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner3.png" alt="Партнер 3" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner4.png" alt="Партнер 4" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner5.png" alt="Партнер 5" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="col-md-2 col-6 mb-4 text-center">
                    <img src="/images/partner6.png" alt="Партнер 6" class="img-fluid" style="max-height: 80px;">
                </div>
            </div>
        </div>
    </div>
</div> 